/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2015, 3:18:40 AM
    Author     : Nghia
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

@import url(http://weloveiconfonts.com/api/?family=brandico);

@-webkit-keyframes show-hero {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show-hero {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes show-text-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes show-text-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes show-text-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes show-text-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes show-circle {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes show-circle {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes show-screenshot {
    0% {
        -webkit-transform: translateY(100%) translateY(20px);
        transform: translateY(100%) translateY(20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes show-screenshot {
    0% {
        -webkit-transform: translateY(100%) translateY(20px);
        transform: translateY(100%) translateY(20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes show-header {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes show-header {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#hero.animatable {
    -webkit-animation: show-hero 1s 2s backwards cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: show-hero 1s 2s backwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

#hero.animatable h1,#hero.animatable h2 {
    -webkit-animation: show-header 1s 3.2s backwards cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: show-header 1s 3.2s backwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

#hero.animatable div {
    -webkit-animation: show-screenshot 1.3s 3.6s backwards cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: show-screenshot 1.3s 3.6s backwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

#hero.animatable .input {
    -webkit-animation: show-circle 0.5s 4s backwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: show-circle 0.5s 4s backwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#hero.animatable .btn {
    -webkit-animation: show-circle 1s 4.5s backwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: show-circle 1s 4.5s backwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




#hero.animatable .btn:last-of-type {
    -webkit-animation-delay: 4.15s;
    animation-delay: 4.15s;
}

nav.animatable {
    -webkit-animation: show-header 1s 4.5s backwards cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: show-header 1s 4.5s backwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.feature.in.left .content {
    -webkit-animation: show-text-left 520ms 200ms both cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: show-text-left 520ms 200ms both cubic-bezier(0.165, 0.84, 0.44, 1);
}

.feature.in.right .content {
    -webkit-animation: show-text-right 520ms 200ms both cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: show-text-right 520ms 200ms both cubic-bezier(0.165, 0.84, 0.44, 1);
}

.feature.in .img {
    -webkit-animation: show-circle 520ms 200ms both cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: show-circle 520ms 200ms both cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



.feature:nth-child(even) {
    background: #F6F6F6;
}

.feature>div {
    padding: 60px 0;
    width: 888px;
    margin: 0 auto;
    height: 420px;
}

.feature.left.in .content {
    float: right;
}

.feature.left .img {
    float: left;
}

.feature.right .img {
    float: right;
}

.feature .content {
    text-align: center;
    margin-top: 50px;
    width: 400px;
    opacity: 0;
}

.feature h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #222;
}

.feature p {
    line-height: 32px;
    font-size: 20px;
    color: #777;
}

.feature .img {
    border: 5px solid #D6D6D6;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 300px;
}

.feature .img:before {
    -webkit-box-shadow: 0 15px 50px -13px rgba(0,0,0,0.5) inset;
    box-shadow: 0 15px 50px -13px rgba(0,0,0,0.5) inset;
    border: 2px solid rgba(255,255,255,0.15);
    border-radius: inherit;
    position: absolute;
    content: '';
    bottom: 1px;
    right: 1px;
    left: 1px;
    top: 1px;
}

.input {
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset,0 -1px 1px rgba(0,0,0,0.3) inset,0 15px 30px -13px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset,0 -1px 1px rgba(0,0,0,0.3) inset,0 15px 30px -13px rgba(0,0,0,0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), to(transparent));
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.3), transparent);
    background-image: linear-gradient(rgba(255,255,255,0.3), transparent);
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    padding: 15px 40px 17px;
    letter-spacing: 0.03em;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: 320ms;
    transition: 320ms;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    margin: 0 20px;
    color: #43749E;
    width: 100%;
}

.jbox {
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset,0 -1px 1px rgba(0,0,0,0.3) inset,0 15px 30px -13px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset,0 -1px 1px rgba(0,0,0,0.3) inset,0 15px 30px -13px rgba(0,0,0,0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), to(transparent));
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.3), transparent);
    background-image: linear-gradient(rgba(255,255,255,0.3), transparent);
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    padding: 15px 40px 17px;
    letter-spacing: 0.03em;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: 320ms;
    transition: 320ms;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    margin: 0 20px;
    color: #43749E;
    width: 100%;
}


.btn {
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset,0 -1px 1px rgba(0,0,0,0.3) inset,0 15px 30px -13px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset,0 -1px 1px rgba(0,0,0,0.3) inset,0 15px 30px -13px rgba(0,0,0,0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), to(transparent));
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.3), transparent);
    background-image: linear-gradient(rgba(255,255,255,0.3), transparent);
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;
    /*padding: 15px 40px 17px;*/
    letter-spacing: 0.03em;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: 320ms;
    transition: 320ms;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    margin: 0 20px;
    color: #FFF;
    width: 100%;
}

.btn:hover {
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset,0 -1px 1px rgba(0,0,0,0.3) inset,0 15px 30px -16px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset,0 -1px 1px rgba(0,0,0,0.3) inset,0 15px 30px -16px rgba(0,0,0,0.5);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    color: #FFF;
}

.btn.blue {
    background-color: #18a9d9;
}

.btn.blue:hover {
    background-color: #0bc2ff;
}

.btn.red {
    background-color: #f76800;
}

.btn.red:hover {
    background-color: #ff842b;
}


